<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cloud.runningpig.bearnote">

    <application
        android:name=".BearNoteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BearNote">
        <activity
            android:name=".ui.assets.EditAccountActivity"
            android:exported="true" />
        <activity
            android:name=".ui.assets.TransferActivity"
            android:exported="true" />
        <activity
            android:name=".ui.assets.AddAssetActivity"
            android:exported="true" />
        <activity
            android:name=".ui.assets.SelectIconActivity"
            android:exported="true" />
        <activity
            android:name=".ui.detail.EditNoteActivity"
            android:exported="true" />
        <activity
            android:name=".ui.note.category.AddCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".ui.note.category.CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".ui.note.NoteActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>